name: Dependabot

on:
  schedule:
    # Every weekday at 10pm UTC
    - cron: '0 22 * * 0-4'
    # Every Friday
    # - cron: '0 0 * * 5'
  workflow_dispatch:

jobs:
  bump:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: oven-sh/setup-bun@main
        with:
          bun-version: latest

      - uses: actions/checkout@master
      # - run: rm -rf yarn.lock pnpm-lock.yaml bun.lockb
      - run: bunx npm-check-updates -u
      - run: bun i -f

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@main
